<div id="contact" class="jumbotron" style="background: url('/img/banner11.jpg'); margin-top: -60px; color: rgb(255, 255,255); ">
<div class="container text-center" >
	<h1 class="page-header">精心设计，触及<span style="color: #00c2ff">灵魂</span></h1>
	<p>触及视觉的设计趋势，精心布局的用户体验，毫无顾忌地通过任何终端呈现在客户面前</p>
	<h1 class="page-header">先入为主，布局<span style="color: #00c2ff">未来</span></h1>
	<p>存储、计算、监控、安全...你所需要的一切产品，法弗纳均能以业界领先的水平为你提供</p>
	<h1 class="page-header">不断<span style="color: #00c2ff">学习</span>，与时俱进</span></h1>
	<p>为了适应当今社会的发展，企业经常对员工与管理人员进行培养与培训。让全员与企业同一目标，共同成长。</p>
</div>
</div>