<div class="container">
<h1 class="page-header text-center">与我们保持联系</h1>
	<ul class="list-inline row">
		<li class="col-md-4">
			<p><img src="public/img/location.png">南宁市心圩江盛天尚都8A-302号</p><p><img src="public/img/phone.png">15977477245</p><p><img src="public/img/QQ.png">380105611</p></li>
		<li class="col-md-4"><img src="public/img/weibo.png"></li>
		<li class="col-md-4"><img src="public/img/weibo.png"></li>
	</ul>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/js/bootstrap.min.js"></script>
  </body>
</html>