<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="法弗纳科技是一家集网站建设、网站制作、网络营销、微信开发、虚拟主机服务及其它互联网基础服务为一体的专业互联网公司.电话:077-12752106">
    <meta name="keywords" content="南宁网站建设,南宁网站制作,南宁网站设计,南宁手机网站建设,南宁购物网站建设,南宁商城网站建设,南宁建网站,南宁网站开发,营销型网站建设">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>
      广西网站建设|广西网站建设||广西网站建设||营销型网站建设|手机网站|微网站|APP开发-首选法弗纳科技
    </title>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.gif" type="image/x-icon"/>
  </head>
  <!-- 滚动监听 -->
  <body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" style="position: relative;">