<div class="jumbotron" style="margin-top: -60px;">
<div class="container text-center" >
	<h1>我们做什么</h1>
	<ul class="list-inline row" style="padding: 30px;">
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/sheji.png" class=" hidden-xs"><h2>网站定制</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/wechat.png" class=" hidden-xs"><h2>微信开发</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/server.png" class=" hidden-xs"><h2>服务器运维</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/multimedia.png" class=" hidden-xs"><h2>SEO优化</h2></li>		
	</ul>
	<ul class="list-inline row">
		<li class="col-xs-12 col-sm-6 col-md-3">	
			<img src="public/img/android.png" class=" hidden-xs"><h2>安卓应用</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/apple.png" class=" hidden-xs"><h2>苹果应用</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/plan.png" class=" hidden-xs"><h2>平面设计</h2></li>
		<li class="col-xs-12 col-sm-6 col-md-3">
			<img src="public/img/brush.png" class=" hidden-xs"><h2>网店装修</h2></li>			
	</ul>
</div>
</div>