<div id="news" class="jumbotron" style="background-color: #F3F9FF">
<div class="container text-center">
	<h1>优惠活动</h1>
	<div class="row center-block">
		<div class="col-md-4" style="overflow: hidden;">
			<a href="#about">
				<img class="img-thumbnail" src="/img/banner.jpg" style="height: 226px" alt="电脑+平板+手机一站搞定">
			</a>
			<p>电脑+平板+手机一站搞定</p>
			<span>最新html5建站技术震撼来袭</span>
		</div>

		<div class="col-md-4" style="overflow: hidden;">
			<a href="#about">
				<img class="img-thumbnail" src="/img/wechat_xcx_banner.jpg" style="height: 226px" alt="微信小程序">
			</a>
			<p>微信小程序来了,还不快快入手？</p>
			<span>又多了一个重量级的用户入口,甚至大有取代APP之势。</span>
		</div>

		<div class="col-md-4" style="overflow: hidden;">
			<a href="#about">
				<img class="img-thumbnail" src="/img/wechat_banner.jpg" style="height: 226px" alt="微信开发">
			</a>
			<p>微信时代</p>
			<span>还在用宣传单发广告吗？效果有效吗？</span>
		</div>		

		<!--<a href="" class="btn btn-primary btn-lg active" role="button" style="margin-top: 30px;">更多活动</a>	-->
	</div>
</div>
</div>